Redirect permanent /SAM1.pdf  http://samtools.github.io/hts-specs/SAMv1.pdf
Redirect permanent /SAMv1.pdf http://samtools.github.io/hts-specs/SAMv1.pdf

# Redirect everything other than /, /index.html, /images/, and /inc/
RedirectMatch temp ^/[a-hj-z].* /
